# Environnements virtuels
.venv/
venv/
env/

# Hugging Face / Torch
.cache/
.cache/**
**/.cache/**
**/huggingface/**
**/torch/**

# Modèles locaux
models/
models/**
*.pt
*.bin
*.safetensors

# Python
__pycache__/
*.pyc

# Streamlit
.streamlit/

# Node
node_modules/

# OS
.DS_Store